<div class="bg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="teacher col-md-6">
                <div class="Border-animation">
                    <h1>Teacher Elemnets</h1>
                    <div class="row justify-content-around t2">
                        <a routerLink="/addT" class="btn btn-success"> Add Teacher </a>
                        <a routerLink="/listT" class="btn btn-info"> List Teacher </a>
                    </div>
                </div>
            </div>
            <div class="teacher col-md-6">
                <div class="Border-animation">
                    <h1>Student Elemnets</h1>
                    <div class="row justify-content-around t2">
                        <a routerLink="/addS" class="btn btn-success"> Add Student </a>
                        <a routerLink="/listS" class="btn btn-info"> List Student </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="text-center mt-5" style="position: fixed; right: 1%; bottom: 2%;">
        <video controls oncanplay="this.play()"  width="400">
            <source src="assets/video/logoA.mp4" type="video/mp4">
        </video>
    </div>    
</div>