<h1 class="text text-center ">Here You Are In Update Teacher Page</h1>
<div class="container col-md-6">
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label> Teacher Name </label>
                <input #teacherName='ngModel' required [(ngModel)]="obj.name" type="text" class="form-control"
                    placeholder="Teacher Name">
                <div *ngIf="teacherName.touched && teacherName.invalid" class="alert alert-danger">
                    Please Enter Valid Teacher Name
                </div>
            </div>
            <div class="form-group">
                <label> Course Name </label>
                <input #teacherCourse='ngModel' required [(ngModel)]="obj.course" type="text" class="form-control"
                    placeholder="Course Name">
                <div *ngIf="teacherCourse.touched && teacherCourse.invalid" class="alert alert-danger">
                    Please Enter Valid Course Name
                </div>
            </div>
            <div *ngIf = "teacherCourse.valid && teacherName.valid">
                <button (click)="update()" class="btn btn-primary btn-block mt-4">Modify Teacher</button>
            </div>
            <div *ngIf = "teacherCourse.invalid && teacherName.invalid">
                <button disabled class="btn btn-primary btn-block mt-4">Modify Student</button>
            </div>
        </div>
    </div>
</div>